
body {
    background-color: #ec808a;
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Cookie', cursive !important;
}

.MuiButton-containedPrimary{
    background-color: #ee2d45 !important;
    color: #fff !important;
}
.MuiButton-containedPrimary:hover{
    background-color: #e33f53 !important;
}
.MuiButton-label,.MuiOutlinedInput-input{
    font-family: 'Fira Sans' !important;
}
/* {
    font-size:3rem !important;
} */
